<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess it is number</title>
</head>
<body>
    <div style="display: flex; align-items: start; justify-content: center; flex-direction: column; margin: 0 0 0 500px">
        {% if not is_assessment %}
            <div style="margin: 100px 0 0 0">
                {{ error }}
                <form method="get" action="{% url 'assessment' %}">
                    <label>
                        <span style="font-size: 22px">
                            Введите число<br/>
                        </span>
                    </label>
                    <input type="number" value="0" name="number_user">
                    <button>
                        Получить догадки
                    </button>
                </form>
            </div>
        {% endif %}
        {% if is_assessment %}
            <div style="margin: 100px 0 0 0">
                <form method="get" action="{% url 'effectivity' %}">
                    <button>
                        Оценить экстрасенсов
                    </button>
                </form>
            </div>
        {% endif %}

        {% if is_assessment %}
            <div style="margin: 40px 0 0 0">
                <h3>
                    Загаданное число {{ number }}
                </h3>
                <h3>
                    Догадки экстрасенсов:
                </h3>
                {% for assessment in assessments %}
                    <p>
                        Имя: {{ assessment.name }} ->
                        Догадка: {{ assessment.value }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        <div style="margin: 40px 0 0 0">
            <h3>
                История догадок каждого экстрасенса:
            </h3>
            {% for psychic in psychics %}
                {% if psychic.assumptions %}
                    <div>
                        <h5>
                            {{ psychic.name }}
                        </h5>
                        <div style="display: flex">
                            {% for assumption in psychic.assumptions %}
                                <p style="padding-right: 10px">
                                    {{ assumption }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    Нет догадок у -> {{ psychic.name }}<br/>
                {% endif %}
            {% endfor %}
        </div>

        <div style="margin: 40px 0 0 0">
            <h3>
                История введенных пользователем чисел:
            </h3>
            {% if numbers %}
                <div style="display: flex">
                    {% for number in numbers %}
                        <p style="padding-right: 10px">
                            {{ number }}
                        </p>
                    {% endfor %}
                </div>
            {% else %}
                Пока нет введенных цифр пользователем
            {% endif %}
        </div>

        <div style="margin: 40px 0 0 0">
            <h3>
                Текущее значение достоверности по каждому экстрасенсу:
            </h3>
            {% for psychic in psychics %}
                <p>
                    Имя: {{ psychic.name }} ->
                    Коэффициент догадки: {{ psychic.index_effectivity }}
                </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>